<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Wassup</title>
	<link rel="stylesheet" type="text/css" href="../static/css/nav.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/nav.css"> -->
	<link href="https://fonts.googleapis.com/css?family=NTR" rel="stylesheet">
</head>
<body>
	<div class="container">
	{% load static %}
		<img class="imag" src="{% static 'img/bear.jpg '%}">
		<div class="navbar"> 
			
			<div class="drop">
				<button class="but" type="button" onclick="">Home</button>
			</div>
			<div class="drop">
				<button class="but" type="button" onclick="drop()">Edit Profile</button>
				<div id="plis" class="dropc">
					<ul class="homie">
						<li><a href="#">Anto</a></li>
						<li><a href="#">You</a></li>
						<li><a href="#">Suck</a></li>
					</ul>
				</div>
			</div>
			<div class="dropr">
				<div class="drop">
					<button class="but" type="button" onclick="">Help</button>
				</div>
				<div class="drop">
					<button class="but" type="button" onclick="">About Us</button>
				</div>
			</div>
		</div>

		<div class="wel">
			<p class="weltxt">Welcome to Smart tutor platform with Plivo</p>
		</div>
		<div class="opt">
			<div class="card">
				<img src="../static/img/buyb.jpg" height="200" width="200">
				<p class="t">Login</p>
			</div>
			<div class="card">
				<img src="../static/img/sellb.jpg" height="200" width="200">
				<p class="t"> Register</p>
			</div>
			<button type="button" class="but" onclick="window.location.href='/sms/do' ">Send SMS</button> 
			<!-- <div class="card">
				<img src="img/viewb.jpg" height="200" width="200">
				<p class="t">View Books</p>
			</div> -->
		</div>
	</div>
	<script src="../static/js/drop.js"></script>
</body>
</html>